body{
    margin: 0px;
    /* padding: auto; */
    height: 500px;
}



.header{
    width:100%;
    overflow-wrap: break-word;
    border:0.0rem solid black;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    opacity:1.999;
    position: fixed;
    z-index: 999;
    box-shadow: 0rem 0rem 0.1rem;

}
.header #up-2 ul li a{
    text-decoration: none;
    padding: 0rem 1rem;
    font-size: 1.2rem;
    color: rgb(0, 0, 0);
}

.header #up-1 a{
    text-decoration: none;
    color:rgb(136, 15, 15);
}

.header #up-2 ul li a:hover{
    color:rgb(17, 244, 244);
    text-decoration:none;
    transition-duration:200ms;
}

.form_entry{
    height: 30px;
    width: 260px;
    font-size: 15px;
    margin-bottom: 1.5rem;
    border:1px;
    box-shadow:0.1px 0.1px 1px;
    
}
.form_entry:focus{
    outline: none;
}

.header #up-2 ul li{
    list-style: none;
    display: inline;
    justify-content: center;
}
.header #up-2 ul{
    margin-top:1vw;
    margin-bottom:1vw;
}

body{
    margin: 0rem;
    opacity:0.99;
}
button{
    background-color:rgb(13, 2, 166);
    border:none;
    color:rgb(255, 255, 255);
    padding: 0.4rem;
    border-radius: 0.3rem;
    font-size: 1.2rem;
    font-family:corbel;
    margin: 0.3rem;
    box-shadow: 0rem 0rem 0.05rem;
    cursor:pointer;
}
button:hover{
    background-color: rgb(171, 151, 210);
}

#up-1{
    text-align: center;
    flex-grow: 1.8;
    flex-shrink: 10;
    font-family:candara;
    font-weight: bolder;
    color:rgb(136, 15, 15);
}

#up-1 p{
    font-size: 1.5rem;
    padding-left:2rem;
    padding-right:2rem;
    margin-top:1vw;
    margin-bottom: 1vw;
}

#up-2{
    flex-grow: 6;
    text-align:center;
    font-family:cambria;
    font-weight: bold;
}

#up-3{
    flex-grow: 1;
    text-align: center;
}

.content_area{
    width:100%;
    display: flex;
    justify-content:center;
    flex-direction: row;
}

@media (max-width: 650px){
    .content_area{
        flex-direction: column;
    }

}
    
#left_section{
    width: 18vw;
}
#main_section{
    width:100%;

}

#main_section p{
    font-size:15px;
    font-family:Lato,sans-serif;
}

.MathJax_Display{ 
    width: 100%;
    height:70px;
    overflow-x:auto;
    overflow-y: auto;

}

h1{
    font-family: segoe UI black;
    padding:2px;
}
h2{
    font-family:'Lato',sans-serif;
    padding:1px;
}

pre{
    height:40rem;
    box-shadow: 0px 0px 1px;
    border-bottom-right-radius: 3px;
}

#main_section p,#main_section ol li{
    font-family:'Lato',sans-serif;
}

#main_section .code_top{
    font-family: segoe UI black;
    font-weight: bold;
    background-color:rgb(157, 227, 249);
    font-family:dubai;
    padding: 3px;
    padding-left: 20px;
    margin:0px;
    border-top-left-radius:3px;
    border-top-right-radius:3px;
    box-shadow: 0px 0px 1px;
}
pre.language-fortran{
    margin:0px;
    overflow-y: scroll;
}
